<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellokottin0427">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloKottin0427">
        <activity android:name=".BmiKotlinActivity"></activity>
        <activity android:name=".BmiJavaActivity" />
        <activity
            android:name=".BmiActivity"
            android:label="BmiJavaActvity" />
        <activity
            android:name=".BmiKotlinActiviy"
            android:label="BmikotlinActvity" />
        <activity
            android:name=".MainActivity"
            android:label="BMI caculation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>